<%- include('includes/_header') %>
<div class="notification is-danger" >
    <div class="has-text-centered">
        <p class= "has-text-white">
            <strong class="is-capitalized">La página no existe</strong>
        </p>
    </div>
</div>
<%- include('includes/_footer') %>