<%- include('includes/_header') %>

<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h1 class="title">Nuestra Historia</h1>
                <h2 class="subtitle">
                    Fundado por la antrop贸loga <strong>Yessica Lora V谩zquez</strong>.
                </h2>
                <figure class="image is-128x128">
                    <img src="https://thumbs.dreamstime.com/b/silueta-del-logotipo-tigre-minimalista-sobre-fondo-blanco-320302373.jpg" alt="Icono de elefante">
                </figure>
                <p>
                    El zool贸gico fue fundado en 1998 con el prop贸sito de proteger y conservar la fauna en peligro de extinci贸n. 
                    A lo largo de los a帽os, hemos crecido y hoy somos uno de los principales centros de conservaci贸n en la regi贸n.
                </p>
            </div>
        </div>
        <div class="has-text-centered">
            <a href="/zoo/info/horarios" class="button is-success is-medium"> 隆Consulta nuestros Horarios!</a>
        </div>
    </div>
</section>

<%- include('includes/_footer') %>

