<%- include('includes/_header') %>
<div class="columns">
<% for(let animal of animales) { %>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <%= animal.nombre %>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>
<%- include('includes/_footer') %>