<%- include('includes/_header') %>

<section class="section">
    <div class="container">
        <div class="box">
            <h1 class="title">Ubicaci贸n del Zool贸gico</h1>
            <p class="subtitle">隆Ven a visitarnos en nuestra direcci贸n!</p>

            <figure class="image is-128x128">
                <img src="https://img.icons8.com/ios-filled/100/000000/map-marker.png" alt="Icono de ubicaci贸n">
            </figure>

            <p class="has-text-centered">
                 <strong>Calle 123, Pachuca, Hidalgo, M茅xico.</strong>
            </p>

            <div class="has-text-centered">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.315281448573!2d-99.13519768509192!3d19.396776246525327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff352ad8b1af%3A0x3e47b5ea7b4b9d37!2sPachuca%2C%20Hidalgo%2C%20M%C3%A9xico!5e0!3m2!1ses-419!2sus!4v1637608918694!5m2!1ses-419!2sus" 
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>

            <div class="has-text-centered">
                <a href="/info/historia" class="button is-info is-medium"> Conoce nuestra historia</a>
            </div>
        </div>
    </div>
</section>

<%- include('includes/_footer') %>
